In [ ]:
#Question 1: Given some sample data, write a program to answer the following: click here to access the required data set

#On Shopify, we have exactly 100 sneaker shops, and each of these shops sells only one model of shoe. 
#We want to do some analysis of the average order value (AOV). 
#When we look at orders data over a 30 day window, we naively calculate an AOV of $3145.13. 
#Given that we know these shops are selling sneakers, a relatively affordable item, something seems wrong with our analysis. 

#Think about what could be going wrong with our calculation. Think about a better way to evaluate this data. 
# -It looks like the value $3145.13 is coming from dividing the total revenue by the number of order id’s we have. If average order value is revenue/number of orders, I think you would want to take into account that there are 100 different stores and do it on an individual store basis, instead of combining all the shops together where outliers can skew the data.
#What metric would you report for this dataset?
# -I would still use dollars, but I would do it on an individual shop basis.
#What is its value?
# -Since there are 100 values, I’ll have the table in my attached work

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Copy of 2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv")
dataset

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11
...,...,...,...,...,...,...,...
4995,4996,73,993,330,2,debit,2017-03-30 13:47:17
4996,4997,48,789,234,2,cash,2017-03-16 20:36:16
4997,4998,56,867,351,3,cash,2017-03-19 5:42:42
4998,4999,60,825,354,2,credit_card,2017-03-16 14:51:18
4999,5000,44,734,288,2,debit,2017-03-18 15:48:18

In [ ]:
#examining how the incorrect answer was gotten

In [7]:
incorrect_aov = dataset['order_amount'].sum() / len(dataset['order_id'])
incorrect_aov

3145.128

In [ ]:
#a preliminary look

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        5000 non-null   int64
 1   shop_id         5000 non-null   int64
 2   user_id         5000 non-null   int64
 3   order_amount    5000 non-null   int64
 4   total_items     5000 non-null   int64
 5   payment_method  5000 non-null   object
 6   created_at      5000 non-null   object
dtypes: int64(5), object(2)
memory usage: 273.6+ KB

In [40]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [ ]:
#first thing we need to do is get both the amount per shop and num of orders per shop

In [ ]:
#i wanted to group by the id and total up the order amounts, so i looked into combining the groupby and sum functions
#and i turned it into a proper dataframe so it is more easily usable

In [54]:
shop_amounts = dataset.groupby('shop_id')['order_amount'].sum().rename_axis('shop_id').reset_index(name='amounts')
shop_amounts

    shop_id   amounts
0         1     13588
1         2      9588
2         3     14652
3         4     13184
4         5     13064
5         6     22627
6         7     12208
7         8     11088
8         9     13806
9        10     17612
10       11     17480
11       12     18693
12       13     21760
13       14     14036
14       15     16065
15       16     11076
16       17     17600
17       18     17472
18       19     20538
19       20     13081
20       21     14200
21       22     13140
22       23     17472
23       24     17640
24       25     11180
25       26     16720
26       27     18083
27       28     13776
28       29     19234
29       30     16524
30       31     12642
31       32      7979
32       33     15051
33       34     11712
34       35     17056
35       36     12740
36       37     16330
37       38     13680
38       39     10988
39       40     14168
40       41     14986
41       42  11990176
42       43     19367
43       44     10224
44       45     15620
45       46     14940
46       47     12180
47       48      9711
48       49     14835
49       50     17756
50       51     16643
51       52     12994
52       53     14560
53       54     13832
54       55     15732
55       56      8073
56       57     15729
57       58     15042
58       59     21538
59       60     16461
60       61     17222
61       62     13280
62       63     15368
63       64     11704
64       65     17864
65       66     16583
66       67     10087
67       68     11968
68       69     15851
69       70     20241
70       71     21320
71       72     14240
72       73     19470
73       74     11628
74       75     10112
75       76     13485
76       77     14040
77       78   2263800
78       79     17738
79       80     13485
80       81     22656
81       82     14691
82       83     10449
83       84     20196
84       85     11524
85       86     14430
86       87     15198
87       88     17776
88       89     23128
89       90     19758
90       91     17600
91       92      6840
92       93     12654
93       94     13400
94       95     12432
95       96     16830
96       97     15552
97       98     14231
98       99     18330
99      100      8547

In [ ]:
#next im totaling the number of orders per shop and also turning that into a proper dataframe

In [55]:
shop_orders = dataset['shop_id'].value_counts().rename_axis('shop_id').reset_index(name='orders')
shop_orders

    shop_id  orders
0        53      68
1        71      66
2        19      64
3        13      63
4        89      61
5        69      60
6        59      60
7         9      59
8        93      59
9        58      59
10       70      59
11       41      59
12       81      59
13       84      59
14        6      59
15       98      58
16       73      58
17       43      58
18       14      58
19       29      58
20       45      58
21       63      58
22       30      56
23        7      56
24       23      55
25        2      55
26       24      55
27       91      54
28       79      54
29       65      54
30       27      54
31       99      54
32       12      53
33       17      53
34       66      53
35       49      53
36       57      53
37       10      53
38       86      52
39       35      52
40       15      52
41       87      52
42       20      52
43       18      51
44       96      51
45       42      51
46        4      51
47       36      50
48       61      50
49       77      50
50       34      50
51       88      50
52       54      50
53       90      49
54       26      49
55       11      49
56       22      48
57       25      48
58       55      48
59       37      48
60        3      48
61       97      48
62       40      48
63       47      47
64       31      47
65       60      47
66       68      47
67        8      46
68       78      46
69       72      46
70       51      46
71       21      46
72       80      45
73       94      45
74        5      45
75        1      44
76       50      44
77       46      43
78       62      43
79       64      43
80       28      43
81       32      42
82       75      42
83       92      42
84       82      42
85       76      42
86       83      42
87       16      41
88       39      41
89       52      41
90      100      40
91       33      40
92       48      40
93       95      39
94       44      39
95       74      38
96       56      37
97       67      37
98       38      35
99       85      35

In [ ]:
#i wanted to combine this into one big dataframe so all i had to do to get the aov was write a formula

In [56]:
final_df = shop_amounts.merge(shop_orders)
final_df

    shop_id   amounts  orders
0         1     13588      44
1         2      9588      55
2         3     14652      48
3         4     13184      51
4         5     13064      45
5         6     22627      59
6         7     12208      56
7         8     11088      46
8         9     13806      59
9        10     17612      53
10       11     17480      49
11       12     18693      53
12       13     21760      63
13       14     14036      58
14       15     16065      52
15       16     11076      41
16       17     17600      53
17       18     17472      51
18       19     20538      64
19       20     13081      52
20       21     14200      46
21       22     13140      48
22       23     17472      55
23       24     17640      55
24       25     11180      48
25       26     16720      49
26       27     18083      54
27       28     13776      43
28       29     19234      58
29       30     16524      56
30       31     12642      47
31       32      7979      42
32       33     15051      40
33       34     11712      50
34       35     17056      52
35       36     12740      50
36       37     16330      48
37       38     13680      35
38       39     10988      41
39       40     14168      48
40       41     14986      59
41       42  11990176      51
42       43     19367      58
43       44     10224      39
44       45     15620      58
45       46     14940      43
46       47     12180      47
47       48      9711      40
48       49     14835      53
49       50     17756      44
50       51     16643      46
51       52     12994      41
52       53     14560      68
53       54     13832      50
54       55     15732      48
55       56      8073      37
56       57     15729      53
57       58     15042      59
58       59     21538      60
59       60     16461      47
60       61     17222      50
61       62     13280      43
62       63     15368      58
63       64     11704      43
64       65     17864      54
65       66     16583      53
66       67     10087      37
67       68     11968      47
68       69     15851      60
69       70     20241      59
70       71     21320      66
71       72     14240      46
72       73     19470      58
73       74     11628      38
74       75     10112      42
75       76     13485      42
76       77     14040      50
77       78   2263800      46
78       79     17738      54
79       80     13485      45
80       81     22656      59
81       82     14691      42
82       83     10449      42
83       84     20196      59
84       85     11524      35
85       86     14430      52
86       87     15198      52
87       88     17776      50
88       89     23128      61
89       90     19758      49
90       91     17600      54
91       92      6840      42
92       93     12654      59
93       94     13400      45
94       95     12432      39
95       96     16830      51
96       97     15552      48
97       98     14231      58
98       99     18330      54
99      100      8547      40

In [ ]:
# aov = revenue / num of orders

In [58]:
final_df['aov'] = final_df['amounts'] / final_df['orders']
final_df

    shop_id   amounts  orders            aov
0         1     13588      44     308.818182
1         2      9588      55     174.327273
2         3     14652      48     305.250000
3         4     13184      51     258.509804
4         5     13064      45     290.311111
5         6     22627      59     383.508475
6         7     12208      56     218.000000
7         8     11088      46     241.043478
8         9     13806      59     234.000000
9        10     17612      53     332.301887
10       11     17480      49     356.734694
11       12     18693      53     352.698113
12       13     21760      63     345.396825
13       14     14036      58     242.000000
14       15     16065      52     308.942308
15       16     11076      41     270.146341
16       17     17600      53     332.075472
17       18     17472      51     342.588235
18       19     20538      64     320.906250
19       20     13081      52     251.557692
20       21     14200      46     308.695652
21       22     13140      48     273.750000
22       23     17472      55     317.672727
23       24     17640      55     320.727273
24       25     11180      48     232.916667
25       26     16720      49     341.224490
26       27     18083      54     334.870370
27       28     13776      43     320.372093
28       29     19234      58     331.620690
29       30     16524      56     295.071429
30       31     12642      47     268.978723
31       32      7979      42     189.976190
32       33     15051      40     376.275000
33       34     11712      50     234.240000
34       35     17056      52     328.000000
35       36     12740      50     254.800000
36       37     16330      48     340.208333
37       38     13680      35     390.857143
38       39     10988      41     268.000000
39       40     14168      48     295.166667
40       41     14986      59     254.000000
41       42  11990176      51  235101.490196
42       43     19367      58     333.913793
43       44     10224      39     262.153846
44       45     15620      58     269.310345
45       46     14940      43     347.441860
46       47     12180      47     259.148936
47       48      9711      40     242.775000
48       49     14835      53     279.905660
49       50     17756      44     403.545455
50       51     16643      46     361.804348
51       52     12994      41     316.926829
52       53     14560      68     214.117647
53       54     13832      50     276.640000
54       55     15732      48     327.750000
55       56      8073      37     218.189189
56       57     15729      53     296.773585
57       58     15042      59     254.949153
58       59     21538      60     358.966667
59       60     16461      47     350.234043
60       61     17222      50     344.440000
61       62     13280      43     308.837209
62       63     15368      58     264.965517
63       64     11704      43     272.186047
64       65     17864      54     330.814815
65       66     16583      53     312.886792
66       67     10087      37     272.621622
67       68     11968      47     254.638298
68       69     15851      60     264.183333
69       70     20241      59     343.067797
70       71     21320      66     323.030303
71       72     14240      46     309.565217
72       73     19470      58     335.689655
73       74     11628      38     306.000000
74       75     10112      42     240.761905
75       76     13485      42     321.071429
76       77     14040      50     280.800000
77       78   2263800      46   49213.043478
78       79     17738      54     328.481481
79       80     13485      45     299.666667
80       81     22656      59     384.000000
81       82     14691      42     349.785714
82       83     10449      42     248.785714
83       84     20196      59     342.305085
84       85     11524      35     329.257143
85       86     14430      52     277.500000
86       87     15198      52     292.269231
87       88     17776      50     355.520000
88       89     23128      61     379.147541
89       90     19758      49     403.224490
90       91     17600      54     325.925926
91       92      6840      42     162.857143
92       93     12654      59     214.474576
93       94     13400      45     297.777778
94       95     12432      39     318.769231
95       96     16830      51     330.000000
96       97     15552      48     324.000000
97       98     14231      58     245.362069
98       99     18330      54     339.444444
99      100      8547      40     213.675000

In [ ]:
#all finished and in a table

In [ ]:
#Question 2: For this question you’ll need to use SQL. Follow this link to access the data set required for the challenge. 
#Please use queries to answer the following questions. Paste your queries along with your final numerical answers below.

In [ ]:
#How many orders were shipped by Speedy Express in total? 54

In [ ]:
SELECT Orders.OrderID
FROM Orders
LEFT JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID
WHERE ShipperName = 'Speedy Express'

In [ ]:
#What is the last name of the employee with the most orders? Peacock

In [ ]:
SELECT Employees.LastName, COUNT(*)
FROM Employees
LEFT JOIN Orders ON Employees.EmployeeID = Orders.EmployeeID
GROUP BY Orders.EmployeeID
ORDER BY COUNT(*) DESC

In [ ]:
#What product was ordered the most by customers in Germany? Gorgonzola Telino

In [ ]:
SELECT Products.ProductName, SUM(OrderDetails.Quantity), Customers.Country
FROM OrderDetails, Customers
LEFT JOIN Products ON Products.ProductID = OrderDetails.ProductID
WHERE Customers.Country = 'Germany'
GROUP BY Products.ProductName
ORDER BY SUM(OrderDetails.Quantity) DESC